.bg-grey {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important;

}

.poll {
    margin: 10px 25% 10px 25%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.opt {
    font-size: 20px;
}

#asked {
    position: relative;
    left: 520px;
}

.centerdiv {
    margin: 10px 25% 10px 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 15%;
    box-shadow: 2px 3px 10px black;
}